@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url("world.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards {
    max-width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border-radius: 15px;
    background-color: #fff5e6;
    flex: 0 0 150px;
    width: 150px;
    height: 150px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
}

.card p {
    color: rgb(255, 125, 0);
    text-align: center;
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(56, 56, 56);
}
