@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    height: 100%;
    width: 100%;
}

.container {
    height: 100%;
    width: 100%;
    background-image: url("world.png");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.cards {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border-radius: 15px;
    background-color: #fff5e6;
    flex: 0 0 150px;
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19pt;
    position: relative;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
}

.front p {
    color: rgb(255, 125, 0);
    text-align: center;
}

.back p {
    color: #fff5e6;
    text-align: center;
}

.card-container {
    width: 150px;
    height: 150px;
    perspective: 850px;
}

.card-container:hover .card {
    transform: rotateY(180deg);
}

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(56, 56, 56);
}

.front, .back {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
}

.front {
    background-color: #fff5e6;
    z-index: 2;
    backface-visibility: hidden;
}

.back {
    background-color: rgb(255, 125, 0);
    z-index: 1;
    transform: rotateY(180deg);
}

